.SearchResults {
    width: 45%;
    height: 650px;
    padding: 1.25rem;
    border-radius: 5px;
    background-color: rgba(1, 12, 63, 0.7);
    backdrop-filter: blur(10px);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1120px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }

  h2 {
    text-align: center;
    line-height: normal;

  }