footer {
    width:100%;
    text-align: center;
    background-color:#000000bb;
}

#footname {
    padding: 2rem 0;
    color: #fff;
    border-top: 1px dashed #fff;
}

a:link, a:hover, a:active, a:visited {
    color:#fff;
}